xsd/Circuit.xsd

<!-- @brief Circuit components for lumped parameter modeling -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="uri:/mil/tatrc/physiology/datamodel" xmlns="uri:/mil/tatrc/physiology/datamodel" elementFormDefault="qualified">
	
	<xs:include schemaLocation="Anatomy.xsd"/>
	
	<xs:simpleType name="enumCircuitModelType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="Fluid"/>
			<xs:enumeration value="Thermal"/>
			<xs:enumeration value="Electrical"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="CircuitCalculatorData">
		<xs:complexContent>
			<xs:extension base="ObjectData">
				<xs:sequence> 
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>	
	<xs:element name="CircuitCalculator" type="CircuitCalculatorData"/>
	
	<xs:complexType name="CircuitTransporterData">
		<xs:complexContent>
			<xs:extension base="ObjectData">
				<xs:sequence> 
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>	
	<xs:element name="CircuitTransporter" type="CircuitTransporterData"/>
	
	<xs:complexType name="CircuitContainerData">
		<xs:complexContent>
			<xs:extension base="ObjectData">
				<xs:sequence> 
					<xs:element name="Circuit"  type="CircuitData" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="Node"  type="CircuitNodeData" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="Path"  type="CircuitPathData" minOccurs="1" maxOccurs="unbounded"/>		
					<xs:element name="InterCircuitConnection"  type="InterCircuitConnectionData" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>	
	<xs:element name="CircuitContainer" type="CircuitContainerData"/>
	
	<xs:complexType name="CircuitData">
		<xs:complexContent>
			<xs:extension base="ObjectData">
				<xs:sequence> 
					<xs:element name="ReferenceNode"  type="xs:IDREF" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Node"  type="xs:IDREF" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="Path"  type="xs:IDREF" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="ModelType" type="enumCircuitModelType" default="Fluid"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>	
	
	<xs:complexType name="InterCircuitConnectionData">
		<xs:complexContent>
			<xs:extension base="ObjectData">
				<xs:sequence>
					<xs:element name="SourceCircuit"  type="xs:IDREF" minOccurs="1" maxOccurs="1"/>
					<xs:element name="TargetCircuit"  type="xs:IDREF" minOccurs="1" maxOccurs="1"/>
					<xs:element name="SourceCircuitNode"  type="xs:IDREF" minOccurs="1" maxOccurs="1"/>
					<xs:element name="TargetCircuitNode"  type="xs:IDREF" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Path"  type="xs:IDREF" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>	
	
	<xs:complexType name="CircuitNodeSubstanceQuantityData">
		<xs:complexContent>
			<xs:extension base="ObjectData">
				<xs:sequence>
					<xs:element name="SubstanceRef" type="xs:IDREF" minOccurs="0"  maxOccurs="1"/>
											
					<xs:element name="Concentration" type="ScalarMassPerVolumeData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="NextConcentration" type="ScalarMassPerVolumeData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="KidneyClearanceFactor" type="ScalarData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="LiverClearanceFactor" type="ScalarData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="Mass" type="ScalarMassData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="NextMass" type="ScalarMassData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="MetabolicFactor" type="ScalarData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="PartialPressure" type="ScalarPressureData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="NextPartialPressure" type="ScalarPressureData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="Saturation" type="ScalarFractionData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="NextSaturation" type="ScalarFractionData" minOccurs="0"  maxOccurs="1"/> 
					<xs:element name="Volume" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="NextVolume" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="VolumeFraction" type="ScalarFractionData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="NextVolumeFraction" type="ScalarFractionData" minOccurs="0"  maxOccurs="1"/>			
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="CircuitNodeData">
		<xs:complexContent>
			<xs:extension base="ObjectData">
				<xs:sequence>
					<xs:element name="Name" type="xs:ID" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="ResistanceEffectModifier" type="ScalarData" minOccurs="0" maxOccurs="1"/>
				
					<!-- Potential Types --> 
					<xs:element name="Pressure" type="ScalarPressureData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="NextPressure" type="ScalarPressureData" minOccurs="0"  maxOccurs="1"/>
					
					<xs:element name="Temperature" type="ScalarTemperatureData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="NextTemperature" type="ScalarTemperatureData" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="Voltage" type="ScalarElectricPotentialData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="NextVoltage" type="ScalarElectricPotentialData" minOccurs="0" maxOccurs="1"/>
				
					<!-- Quantity Types -->
					<xs:element name="Volume" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="NextVolume" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="VolumeBaseline" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="UnstressedVolume" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/>
					
					<xs:element name="Heat" type="ScalarEnergyData" minOccurs="0" maxOccurs="1"/>					
					<xs:element name="NextHeat" type="ScalarEnergyData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="HeatBaseline" type="ScalarEnergyData" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="ElectricCharge" type="ScalarElectricChargeData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="NextElectricCharge" type="ScalarElectricChargeData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="ElectricChargeBaseline" type="ScalarElectricChargeData" minOccurs="0" maxOccurs="1"/>
					
					<!-- Tracking UNC-->
					<xs:element name="TissueConcentrationAcidicPhospohlipids" type="ScalarMassPerMassData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="TissueToPlasmaAlbuminRatio" type="ScalarData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="TissueToPlasmaLipoproteinRatio" type="ScalarData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="TissueToPlasmaAAGRatio" type="ScalarData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="VolumeFractionExtracellularWater" type="ScalarFractionData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="VolumeFractionIntracellularWater" type="ScalarFractionData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="VolumeFractionNeutralLipids" type="ScalarFractionData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="VolumeFractionNeutralPhospholipids" type="ScalarFractionData" minOccurs="0"  maxOccurs="1"/>
					<!-- Substance Tracking -->
					<xs:element name="SubstanceQuantity" type="CircuitNodeSubstanceQuantityData" minOccurs="0"  maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="IsInterConnectedNode" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
		
	<!-- TODO Enforce on component per path -->
	<xs:complexType name="CircuitPathData">
		<xs:complexContent>
			<xs:extension base="ObjectData">
				<xs:sequence>
					<xs:element name="Name" type="xs:ID" minOccurs="0" maxOccurs="1"/>
					<xs:element name="SourceNode" type="xs:IDREF" minOccurs="1" maxOccurs="1"/>
					<xs:element name="TargetNode" type="xs:IDREF" minOccurs="1" maxOccurs="1"/>
					
					<xs:element name="Switch" type="enumOpenClosed" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="NextSwitch" type="enumOpenClosed" minOccurs="0"  maxOccurs="1"/> 
					
					<xs:element name="Valve" type="enumOpenClosed" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="NextValve" type="enumOpenClosed" minOccurs="0"  maxOccurs="1"/>	
					
					<!-- Resistance Types -->
					<xs:element name="FlowResistance" type="ScalarFlowResistanceData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="NextFlowResistance" type="ScalarFlowResistanceData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="FlowResistanceBaseline" type="ScalarFlowResistanceData" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="HeatResistance" type="ScalarHeatResistanceData" minOccurs="1" maxOccurs="1"/>
					<xs:element name="NextHeatResistance" type="ScalarHeatResistanceData" minOccurs="1" maxOccurs="1"/>
					<xs:element name="HeatResistanceBaseline" type="ScalarHeatResistanceData" minOccurs="1" maxOccurs="1"/>
					
					<xs:element name="ElectricResistance" type="ScalarElectricResistanceData" minOccurs="1" maxOccurs="1"/>
					<xs:element name="NextElectricResistance" type="ScalarElectricResistanceData" minOccurs="1" maxOccurs="1"/>
					<xs:element name="ElectricResistanceBaseline" type="ScalarElectricResistanceData" minOccurs="1" maxOccurs="1"/>
					
					<!-- Capacitance Types -->					
					<xs:element name="FlowCompliance" type="ScalarFlowComplianceData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="NextFlowCompliance" type="ScalarFlowComplianceData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="FlowComplianceBaseline" type="ScalarFlowComplianceData" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="HeatCapacitance" type="ScalarHeatCapacitanceData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="NextHeatCapacitance" type="ScalarHeatCapacitanceData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="HeatCapacitanceBaseline" type="ScalarHeatCapacitanceData" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="ElectricCapacitance" type="ScalarElectricCapacitanceData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="NextElectricCapacitance" type="ScalarElectricCapacitanceData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="ElectricCapacitanceBaseline" type="ScalarElectricCapacitanceData" minOccurs="0" maxOccurs="1"/>
					
					<!-- Inductance Types -->					
					<xs:element name="FlowInertance" type="ScalarFlowInertanceData" minOccurs="0" maxOccurs="1"/>		
					<xs:element name="NextFlowInertance" type="ScalarFlowInertanceData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="FlowInertanceBaseline" type="ScalarFlowInertanceData" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="HeatInductance" type="ScalarHeatInductanceData" minOccurs="0" maxOccurs="1"/>		
					<xs:element name="NextHeatInductance" type="ScalarHeatInductanceData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="HeatInductanceBaseline" type="ScalarHeatInductanceData" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="ElectricInductance" type="ScalarElectricInductanceData" minOccurs="0" maxOccurs="1"/>		
					<xs:element name="NextElectricInductance" type="ScalarElectricInductanceData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="ElectricInductanceBaseline" type="ScalarElectricInductanceData" minOccurs="0" maxOccurs="1"/>	
					
					<!-- Flux Types -->
					<xs:element name="Flow" type="ScalarVolumePerTimeData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="NextFlow" type="ScalarVolumePerTimeData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="FlowBaseline" type="ScalarVolumePerTimeData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="FlowSource" type="ScalarVolumePerTimeData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="NextFlowSource" type="ScalarVolumePerTimeData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="FlowSourceBaseline" type="ScalarVolumePerTimeData" minOccurs="0"  maxOccurs="1"/>
					
					<xs:element name="HeatTransferRate" type="ScalarPowerData" minOccurs="1" maxOccurs="1"/>
					<xs:element name="NextHeatTransferRate" type="ScalarPowerData" minOccurs="1" maxOccurs="1"/>
					<xs:element name="HeatTransferRateBaseline" type="ScalarPowerData" minOccurs="1" maxOccurs="1"/>
					<xs:element name="HeatSource" type="ScalarPowerData" minOccurs="1" maxOccurs="1"/>
					<xs:element name="NextHeatSource" type="ScalarPowerData" minOccurs="1" maxOccurs="1"/>
					<xs:element name="HeatSourceBaseline" type="ScalarPowerData" minOccurs="1" maxOccurs="1"/>
					
					<xs:element name="ElectricCurrent" type="ScalarElectricCurrentData" minOccurs="1" maxOccurs="1"/>
					<xs:element name="NextElectricCurrent" type="ScalarElectricCurrentData" minOccurs="1" maxOccurs="1"/>
					<xs:element name="ElectricCurrentBaseline" type="ScalarElectricCurrentData" minOccurs="1" maxOccurs="1"/>
					<xs:element name="ElectricCurrentSource" type="ScalarElectricCurrentData" minOccurs="1" maxOccurs="1"/>
					<xs:element name="NextElectricCurrentSource" type="ScalarElectricCurrentData" minOccurs="1" maxOccurs="1"/>
					<xs:element name="ElectricCurrentSourceBaseline" type="ScalarElectricCurrentData" minOccurs="1" maxOccurs="1"/>
										
					<!-- Potential Types -->
					<xs:element name="PressureSource" type="ScalarPressureData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="NextPressureSource" type="ScalarPressureData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="PressureSourceBaseline" type="ScalarPressureData" minOccurs="0"  maxOccurs="1"/>
					
					<xs:element name="TemperatureSource" type="ScalarTemperatureData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="NextTemperatureSource" type="ScalarTemperatureData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="TemperatureSourceBaseline" type="ScalarTemperatureData" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="ElectricVoltageSource" type="ScalarElectricPotentialData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="NextElectricVoltageSource" type="ScalarElectricPotentialData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="ElectricVoltageSourceBaseline" type="ScalarElectricPotentialData" minOccurs="0" maxOccurs="1"/>
					
					<!-- Quantity Types -->
					<xs:element name="Volume" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="NextVolume" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="VolumeBaseline" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="UnstressedVolume" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/>
					
					<xs:element name="Heat" type="ScalarEnergyData" minOccurs="0" maxOccurs="1"/>					
					<xs:element name="NextHeat" type="ScalarEnergyData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="HeatBaseline" type="ScalarEnergyData" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="ElectricCharge" type="ScalarElectricChargeData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="NextElectricCharge" type="ScalarElectricChargeData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="ElectricChargeBaseline" type="ScalarElectricChargeData" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="PolarizedState" type="enumOpenClosed" minOccurs="0"  maxOccurs="1"/>
					<xs:element name="NextPolarizedState" type="enumOpenClosed" minOccurs="0"  maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="TransportSubstancesAcrossPath" type="xs:boolean" default="true"/>
				<xs:attribute name="IsInterConnectedPath" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
</xs:schema>