xsd/PatientActions.xsd

<!-- @brief Actions able to be performed to change the patient  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="uri:/mil/tatrc/physiology/datamodel" xmlns="uri:/mil/tatrc/physiology/datamodel" elementFormDefault="qualified">

	<xs:include schemaLocation="Anatomy.xsd"/>
	<xs:include schemaLocation="Scenario.xsd"/>
	<xs:include schemaLocation="PatientNutrition.xsd"/>
	
	<!-- @brief Base Patient Action type -->
	<xs:complexType name="PatientActionData" abstract="true">
		<xs:complexContent>
			<xs:extension base="ActionData"/>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief -->
	<xs:simpleType name="enumPatientAssessment">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PulmonaryFunctionTest"/>
			<xs:enumeration value="CompleteBloodCount"/>
			<xs:enumeration value="ComprehensiveMetabolicPanel"/>
			<xs:enumeration value="Urinalysis"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- @brief -->
	<xs:complexType name="PatientAssessmentRequestData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:attribute name="Type" type="enumPatientAssessment" use="required"/><!--<< @brief Assesment to run. -->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>	
	
	<!-- @brief A blockage of the Airway leading to no respiration/air flow in or out of the body. -->
	<xs:complexType name="AirwayObstructionData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:sequence>
					<xs:element name="Severity" type="ScalarFractionData" minOccurs="1" maxOccurs="1"/><!--<< @brief -->
				</xs:sequence>			
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief Constriction of the airways in the lungs due to tightening of surrounding smooth muscle. -->
	<xs:complexType name="BronchoconstrictionData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:sequence>
					<xs:element name="Severity" type="ScalarFractionData" minOccurs="1" maxOccurs="1"/><!--<< @brief -->
				</xs:sequence>				
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief Enumeration to specify when to start a breathing command. -->
	<xs:simpleType name="enumBeginBreathingCommandType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NextCycle"/><!--<< @brief Start the command at the next start of inhale or exhale, whichever is first. -->
			<xs:enumeration value="Immediate"/><!--<< @brief Start the command immediately, do not wait for the start of a cycle. -->
			<xs:enumeration value="Inhale"/><!--<< @brief Wait until the start of an inhale to begin the associated breathing command. -->
			<xs:enumeration value="Exhale"/><!--<< @brief Wait until the start of an inhale to begin the associated breathing command.-->
		</xs:restriction>
	</xs:simpleType>
	<!-- @brief Base class of all concious breathing controls. -->
	<xs:complexType name="ConsciousRespirationCommandData" abstract="true">
		<xs:complexContent>
			<xs:extension base="ObjectData">
				<xs:sequence>					
					<xs:element name="Comment" type="xs:string" minOccurs="0" maxOccurs="1"/>					
				</xs:sequence>
				<xs:attribute name="BeginType" type="enumBeginBreathingCommandType" default="NextCycle" /><!--<< @brief When to begin the command. -->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- @brief Force air into the lungs. -->
	<xs:complexType name="ForcedInhaleData">
		<xs:complexContent>
			<xs:extension base="ConsciousRespirationCommandData">
				<xs:sequence>
					<xs:element name="InspiratoryCapacityFraction" type="ScalarFractionData" minOccurs="1" maxOccurs="1"/><!--<< @brief The fraction of the Inspiratory capacity that will be filled by the breath. -->
					<xs:element name="Period" type="ScalarTimeData" minOccurs="1" maxOccurs="1"/><!--<< @brief Duration of the inhale. -->
				</xs:sequence>              
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- @brief Force air out of the lungs.-->
	<xs:complexType name="ForcedExhaleData">
		<xs:complexContent>
			<xs:extension base="ConsciousRespirationCommandData">
				<xs:sequence>
					<xs:element name="ExpiratoryReserveVolumeFraction" type="ScalarFractionData" minOccurs="1" maxOccurs="1"/><!--<< @brief The fraction of the Expiratory Reserve Volume that is forced out of the body. -->
					<xs:element name="Period" type="ScalarTimeData" minOccurs="1" maxOccurs="1"/><!--<< @brief Duration of the exhale. -->
				</xs:sequence>              
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>	
	<!-- @brief Hold the patients breath. There will be no inflow or out flow of air during the specified period -->
	<xs:complexType name="BreathHoldData">
		<xs:complexContent>
			<xs:extension base="ConsciousRespirationCommandData">
				<xs:sequence>
					<xs:element name="Period" type="ScalarTimeData" minOccurs="1" maxOccurs="1"/><!--<< @brief Duration of the breath hold. -->
				</xs:sequence>              
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- @brief Administer a substance through an Inhaler. This command will represent a single press of an Inhaler. -->
	<xs:complexType name="UseInhalerData">
		<xs:complexContent>
			<xs:extension base="ConsciousRespirationCommandData"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- @brief An ordered list of concious breath commands for the patient to preform. -->
	<xs:complexType name="ConsciousRespirationData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:sequence>
					<xs:element name="Command" type="ConsciousRespirationCommandData" minOccurs="1" maxOccurs="unbounded"/><!--<< @brief -->
				</xs:sequence>              
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief A common inflammatory disease of the airways where air flow into the lungs is partially obstructed. 
		        This attack is acute asthma, which is an exacerbation of asthma that does not respond to standard treatments.-->
	<xs:complexType name="AsthmaAttackData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:sequence>
					<xs:element name="Severity" type="ScalarFractionData" minOccurs="1" maxOccurs="1"/><!--<< @brief -->
				</xs:sequence>				
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	
	<!-- @brief Base CPR action type. -->
	<xs:complexType name="ChestCompressionData" abstract="true">
		<xs:complexContent>
			<xs:extension base="PatientActionData"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- @brief Technique used when performing cardiopulmonary resuscitation. Application of external force to the chest cavity in order to pump blood through the heart.-->
	<xs:complexType name="ChestCompressionForceData">
		<xs:complexContent>
			<xs:extension base="ChestCompressionData">
				<xs:sequence>
					<xs:element name="Force" type="ScalarForceData" minOccurs="1" maxOccurs="1"/><!--<< @brief The actual force value applied to the chest -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- @brief Technique used when performing cardiopulmonary resuscitation. Application of external force to the chest cavity in order to pump blood through the heart.-->
	<xs:complexType name="ChestCompressionForceScaleData">
		<xs:complexContent>
			<xs:extension base="ChestCompressionData">
				<xs:sequence>
					<xs:element name="ForceScale" type="ScalarFractionData" minOccurs="1" maxOccurs="1"/><!--<< @brief A fractional representation of the maximum force that can be applied to the chest: 0.0 is no force applied, 1.0 is maximum force applied -->
					<xs:element name="ForcePeriod" type="ScalarTimeData" minOccurs="0" maxOccurs="1"/><!--<< @brief The specified length of time the force is applied -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
<!-- @brief Applies a non-specific cardiac arrest. -->
	<xs:complexType name="CardiacArrestData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:attribute name="State" type="enumOnOff" default="On"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief Applies an occlusive dressing to either the left or right side of the chest. An occlusive dressing is an air and water-tight trauma dressing that provides immediate control of pressure and bleeding that occurs with an open pneumothorax. -->
	<xs:complexType name="ChestOcclusiveDressingData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:attribute name="State" type="enumOnOff" default="On"/><!--<< @brief -->
				<xs:attribute name="Side" type="enumSide" use="required"/><!--<< @brief -->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief Consume nutrients into the body. -->
	<xs:complexType name="ConsumeNutrientsData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:choice minOccurs="1"  maxOccurs="1">
					<xs:element name="NutritionFile" type="xs:string"/><!--<< @brief A file to use for a nutrients. -->
					<xs:element name="Nutrition" type="NutritionData"/><!--<< @brief Specific nutrient data to use. -->
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief Increase the patient's metabolic rate leading to an increase in core temperature, cardiac output, respiration rate and tidal volume. -->
	<xs:complexType name="ExerciseData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:choice>
					<xs:element name="BorgScale" type="ScalarData" minOccurs="1" maxOccurs="1"/><!--<< @brief Rating of Perceived Exertion (RPE)  -->
					<xs:element name="Intensity" type="ScalarFractionData" minOccurs="1" maxOccurs="1"/><!--<< @brief Fractional representation of the maximum patient exertion -->
				</xs:choice>               
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief A hemorrhage is the loss of blood escaping from the circulatory system. Typically, a healthy person can endure a loss of 10 to 15 percent of the total blood volume without serious medical difficulties. -->
	<xs:complexType name="HemorrhageData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:sequence>
					<xs:element name="Rate" type="ScalarVolumePerTimeData" minOccurs="1" maxOccurs="1"/><!--<< @brief The flow rate of blood exiting the specified compartment. Set to zero to stop the bleeding rate. -->
				</xs:sequence>              
				<xs:attribute name="Compartment" type="enumAnatomy" use="required"/> <!--<< @brief Origin of the hemorrhage -->   
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
		
	<!-- @brief Insertion of tube. -->
	<xs:complexType name="IntubationData" abstract="true">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>	
	<!-- @brief Movement of the endotracheal tube to a specified depth -->
	<xs:complexType name="EndotrachealIntubationData">
		<xs:complexContent>
			<xs:extension base="IntubationData">
				<xs:sequence>
					<xs:element name="Depth" type="ScalarLengthData" minOccurs="1" maxOccurs="1"/><!--<< @brief -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- @brief Intubation of the esophagus which can lead to potentially fatal anoxia. -->
	<xs:complexType name="EsophagealIntubationData">
		<xs:complexContent>
			<xs:extension base="IntubationData">				
				<xs:attribute name="State" type="enumOnOff" default="On"/><!--<< @brief -->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>	

	<!-- @brief A 14-16G intravenous caninula is inserted into the second rib-space in the mid-clavcular line. The needle is advanced until air can be aspirated into a connecting syringe. The needle is withdrawn and the caninula is left to allow air flow out of the pleural space. This effectively converts the closed pneumothorax into an open pneumothorax. -->
	<xs:complexType name="NeedleDecompressionData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:attribute name="State" type="enumOnOff" default="On"/><!--<< @brief -->
				<xs:attribute name="Side" type="enumSide" use="required"/><!--<< @brief -->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief Pericardial effusion ("fluid around the heart") is an abnormal accumulation of fluid in the pericardial cavity. Because of the limited amount of space in the pericardial cavity, fluid accumulation leads to an increased intrapericardial pressure which can negatively affect heart function. A pericardial effusion with enough pressure to adversely affect heart function is called cardiac tamponade. Pericardial effusion usually results from a disturbed equilibrium between the production andre-absorption of pericardial fluid, or from a structural abnormality that allows fluid to enter the pericardial cavity. Normal levels of pericardial fluid are from 15 to 50 mL. -->
	<xs:complexType name="PericardialEffusionData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:sequence>
					<xs:element name="EffusionRate" type="ScalarVolumePerTimeData" minOccurs="1" maxOccurs="1"/><!--<< @brief The flow rate of fluid associated with the effusion. Set to zero to stop. -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief -->
	<xs:simpleType name="enumPneumothoraxType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Open"/>
			<xs:enumeration value="Closed"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- @brief A pneumothorax is an abnormal collection of air or gas in the pleural space that separates the lung from the chest wall. Like pleural effusion (liquid buildup in that space), pneumothorax may interfere with normal breathing. -->
	<xs:complexType name="TensionPneumothoraxData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:sequence>
					<xs:element name="Severity" type="ScalarFractionData" minOccurs="1" maxOccurs="1"/><!--<< @brief -->
				</xs:sequence>         
				<xs:attribute name="Type"  type="enumPneumothoraxType" use="required"/><!--<< @brief -->
				<xs:attribute name="Side"  type="enumSide" use="required"/><!--<< @brief -->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- @brief Various methods of substance administration. -->
	<xs:simpleType name="enumSubstanceAdministration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Intravenous"/>
			<xs:enumeration value="Intramuscular"/>
			<xs:enumeration value="Subcutaneous"/>
			<xs:enumeration value="Oral"/>
			<xs:enumeration value="Rectal"/>
			<xs:enumeration value="Inhaled"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- @brief The administration of a substance or other compound that is given to raise its concentration in blood to an effective level. -->
	<xs:complexType name="SubstanceAdministrationData" abstract="true">
		<xs:complexContent>
			<xs:extension base="PatientActionData"/>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief An administration of a substance that is given all at one time to raise its concentration in blood to an effective level. -->
	<xs:complexType name="SubstanceBolusData">
		<xs:complexContent>
			<xs:extension base="SubstanceAdministrationData">
				<xs:sequence>
					<xs:element name="Substance" type="xs:string" minOccurs="1" maxOccurs="1"/>	<!--<< @brief -->
					<xs:element name="Concentration" type="ScalarMassPerVolumeData" minOccurs="1" maxOccurs="1"/><!--<< @brief -->
					<xs:element name="Dose" type="ScalarVolumeData" minOccurs="1" maxOccurs="1"/><!--<< @brief -->													
				</xs:sequence>
				<xs:attribute name="AdminRoute" type="enumSubstanceAdministration" use="required"/><!--<< @brief -->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief Continuous injection of a compound. -->
	<xs:complexType name="SubstanceCompoundInfusionData">
		<xs:complexContent>
			<xs:extension base="SubstanceAdministrationData">
				<xs:sequence>
					<xs:element name="SubstanceCompound" type="xs:string" minOccurs="1" maxOccurs="1"/><!--<< @brief -->	
					<xs:element name="BagVolume" type="ScalarVolumeData" minOccurs="1" maxOccurs="1"/><!--<< @brief -->
					<xs:element name="Rate" type="ScalarVolumePerTimeData" minOccurs="1" maxOccurs="1"/><!--<< @brief -->					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>	
	
	<!-- @brief Continuous injection of a specific substance. -->
	<xs:complexType name="SubstanceInfusionData">
		<xs:complexContent>
			<xs:extension base="SubstanceAdministrationData">
				<xs:sequence>
					<xs:element name="Substance" type="xs:string" minOccurs="1" maxOccurs="1"/><!--<< @brief --> 
					<xs:element name="Concentration" type="ScalarMassPerVolumeData" minOccurs="1" maxOccurs="1"/><!--<< @brief -->
					<xs:element name="Rate" type="ScalarVolumePerTimeData" minOccurs="1" maxOccurs="1"/><!--<< @brief -->										
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief Empty the bladder of its contents. -->
	<xs:complexType name="UrinateData">
		<xs:complexContent>
			<xs:extension base="PatientActionData"/><!--<< @brief -->
		</xs:complexContent>
	</xs:complexType>
	
</xs:schema>
	
	
								
					
								
		
	
	