xsd/Substance.xsd

<!-- @brief Substances in the body --> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="uri:/mil/tatrc/physiology/datamodel" xmlns="uri:/mil/tatrc/physiology/datamodel" elementFormDefault="qualified">
  
  <xs:include schemaLocation="Properties.xsd"/>
  
  <!-- @brief Enumeration for substance states. -->
  <xs:simpleType name="enumSubstanceState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Solid"/>
      <xs:enumeration value="Liquid"/>
      <xs:enumeration value="Gas"/>
      <xs:enumeration value="Molecular"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- @brief Enumeration for substance ionic state. -->
  <xs:simpleType name="enumSubstanceIonicState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WeakBase"/>
      <xs:enumeration value="Base"/>
      <xs:enumeration value="Acid"/>
      <xs:enumeration value="Neutral"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- @brief Enumeration for specifying a substance binding protein. -->
  <xs:simpleType name="enumSubstanceBindingProtein">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Albumin"/>
      <xs:enumeration value="Lipoprotein"/>
      <xs:enumeration value="AAG"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="enumCharge">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Positive"/>
      <xs:enumeration value="Negative"/>
      <xs:enumeration value="Neutral"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- @brief Enumeration for pupil state. -->
  <xs:simpleType name="enumPupilState">
    <xs:restriction base="xs:string">      
      <xs:enumeration value="Constricted"/>
      <xs:enumeration value="Dialated"/>
      <xs:enumeration value="Normal"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- The following object types encapsulate data for a particular methodology.
       There may be data fields (ex. FractionUnboundInPlasma) duplicated between objects.
       It is up to the implementing code to resolve differences or not. -->
  
  <!-- @brief  Data for if a substance was to be aerosolizized. -->
  <xs:complexType name="SubstanceAerosolizationData">
    <xs:complexContent>
      <xs:extension base="ObjectData">
        <xs:sequence>
          <xs:element name="DropletDensity" type="ScalarMassPerVolumeData" minOccurs="1"  maxOccurs="1"/><!--<< @brief Density of a arosol droplet. -->
          <xs:element name="DropletDiameter" type="ScalarLengthData" minOccurs="1"  maxOccurs="1"/><!--<< @brief Diameter of a arosol droplet. -->          
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- @brief   -->
  <xs:complexType name="SubstancePharmacokineticsData">
    <xs:complexContent>
      <xs:extension base="ObjectData">
        <xs:sequence>
          <xs:element name="AcidDissociationConstant" type="ScalarData" minOccurs="1"  maxOccurs="1"/> <!--<< @brief A quantitative measure of the strength of an acid in solution. -->         
          <xs:element name="BindingProtein" type="enumSubstanceBindingProtein" minOccurs="1"  maxOccurs="1"/><!--<< @brief @copybrief enumSubstanceBindingProtein -->
          <xs:element name="BloodPlasmaRatio" type="ScalarData" minOccurs="1"  maxOccurs="1"/><!--<< @brief The ratio of the substance in the blood versus the plasma. -->
          <xs:element name="FractionUnboundInPlasma" type="ScalarFractionData" minOccurs="1"  maxOccurs="1"/><!--<< @brief Fraction of the substance in the plasma that is unbound. -->
          <xs:element name="IonicState" type="enumSubstanceIonicState" minOccurs="1"  maxOccurs="1"/><!--<< @brief @copybrief enumSubstanceIonicState -->
          <xs:element name="LogP" type="ScalarData" minOccurs="1"  maxOccurs="1"/><!--<< @brief The octanol-water partition coefficient. -->
		  <xs:element name="OralAbsorptionRateConstant" type="ScalarData" minOccurs="0"  maxOccurs="1"/><!--<< @brief Rate at which an orally administered drug leaves the GI tract. -->          
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- @brief -->
  <xs:complexType name="SubstancePharmacodynamicsData">
    <xs:complexContent>
      <xs:extension base="ObjectData">
        <xs:sequence>
          <xs:element name="Bronchodilation" type="ScalarFractionData" minOccurs="1"  maxOccurs="1"/><!--<< @brief -->
          <xs:element name="DiastolicPressureModifier" type="ScalarFractionData" minOccurs="1"  maxOccurs="1"/><!--<< @brief -->
          <xs:element name="EC50" type="ScalarMassPerVolumeData" minOccurs="1"  maxOccurs="1"/><!--<< @brief -->
          <xs:element name="HeartRateModifier" type="ScalarFractionData" minOccurs="1"  maxOccurs="1"/><!--<< @brief A modifier representing the effect of the drug on the heart rate. -->
          <xs:element name="NeuromuscularBlock" type="ScalarFractionData" minOccurs="1"  maxOccurs="1"/><!--<< @brief -->
          <xs:element name="PupilState" type="enumPupilState" minOccurs="1"  maxOccurs="1"/><!--<< @brief -->
          <xs:element name="RespirationRateModifier" type="ScalarFractionData" minOccurs="1"  maxOccurs="1"/><!--<< @brief -->
          <xs:element name="Sedation" type="ScalarFractionData" minOccurs="1"  maxOccurs="1"/><!--<< @brief -->
          <xs:element name="SystolicPressureModifier" type="ScalarFractionData" minOccurs="1"  maxOccurs="1"/><!--<< @brief -->
          <xs:element name="TidalVolumeModifier" type="ScalarFractionData" minOccurs="1"  maxOccurs="1"/><!--<< @brief -->
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
    
  <!-- @brief   -->
  <xs:complexType name="SubstanceClearanceData">
    <xs:complexContent>
      <xs:extension base="ObjectData">
        <xs:sequence>
          <xs:element name="Systemic" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="FractionExcretedInFeces" type="ScalarFractionData" minOccurs="1"  maxOccurs="1"/><!--<< @brief Fraction of the administered dose excreted in the feces. -->
                <xs:element name="FractionExcretedInUrine" type="ScalarFractionData" minOccurs="0"  maxOccurs="1"/><!--<< @brief Fraction of the administered dose excreted in the urine. -->
                <xs:element name="FractionMetabolizedInGut" type="ScalarFractionData" minOccurs="0"  maxOccurs="1"/><!--<< @brief Fraction of the administered dose metabolized in the gut. -->
                <xs:element name="FractionUnboundInPlasma" type="ScalarFractionData" minOccurs="1"  maxOccurs="1"/><!--<< @brief Fraction of the substance in the plasma that is unbound. -->
                <xs:element name="IntrinsicClearance" type="ScalarVolumePerTimePerMassData" minOccurs="1"  maxOccurs="1"/><!--<< @brief The intrinsic ability of hepatic enzymes to metabolize the substance. -->          
                <xs:element name="RenalClearance" type="ScalarVolumePerTimePerMassData" minOccurs="1"  maxOccurs="1"/><!--<< @brief Amount of substances to clear from the kidneys. -->
                <xs:element name="SystemicClearance" type="ScalarVolumePerTimePerMassData" minOccurs="1"  maxOccurs="1"/><!--<< @brief Amount of substance cleared by all organs. -->
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="RenalDynamics" minOccurs="0"  maxOccurs="1"> <!--<< @brief Renal Dynamics for clearance and/or regulation of substances. -->
            <xs:complexType>
              <xs:sequence>
                <xs:choice minOccurs="1"  maxOccurs="1">
                  <xs:element name="Clearance" type="ScalarVolumePerTimePerMassData" minOccurs="1"  maxOccurs="1"/><!--<< @brief Amount of substances to clear from the kidneys. -->
                  <xs:element name="Regulation"  minOccurs="1"  maxOccurs="1">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="ChargeInBlood" type="enumCharge" minOccurs="1"  maxOccurs="1"/><!--<< @brief -->
                        <xs:element name="FractionUnboundInPlasma" type="ScalarFractionData" minOccurs="1"  maxOccurs="1"/><!--<< @brief Fraction of the substance in the plasma that is unbound. -->                        
                        <xs:element name="ReabsorptionRatio" type="ScalarData" minOccurs="1"  maxOccurs="1"/><!--<< @brief -->
                        <xs:element name="TransportMaximum" type="ScalarMassPerTimeData" minOccurs="1"  maxOccurs="1"/><!--<< @brief -->
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:choice>
                <xs:element name="FiltrationRate" type="ScalarMassPerTimeData" minOccurs="0"  maxOccurs="1"/><!--<< @brief  -->
                <xs:element name="ReabsorptionRate" type="ScalarMassPerTimeData" minOccurs="0"  maxOccurs="1"/><!--<< @brief  -->
                <xs:element name="ExcretionRate" type="ScalarMassPerTimeData" minOccurs="0"  maxOccurs="1"/><!--<< @brief  -->
                <xs:element name="GlomerularFilterability" type="ScalarData" minOccurs="0"  maxOccurs="1"/><!--<< @brief  -->
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- @brief  A generic substance. -->
  <xs:complexType name="SubstanceData">
    <xs:complexContent>
      <xs:extension base="ObjectData">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" minOccurs="1"  maxOccurs="1"/><!--<< @brief The unique name of the substance. -->
          <xs:element name="Density" type="ScalarMassPerVolumeData" minOccurs="0"  maxOccurs="1"/><!--<< @brief Mass density of a substance -->         
          <xs:element name="MolarMass" type="ScalarMassPerAmountData" minOccurs="0"  maxOccurs="1"/><!--<< @brief Molar mass of the substance. -->
          <!-- Liquid -->
          <xs:element name="Aerosolization" type="SubstanceAerosolizationData" minOccurs="0"  maxOccurs="1"/><!--<< @brief Data for if this substance was to be arosolized. -->
          <xs:element name="MassInBody" type="ScalarMassData" minOccurs="0"  maxOccurs="1"/><!--<< @brief Total Amount of mass of this substance that is in the body. -->
          <xs:element name="MassInBlood" type="ScalarMassData" minOccurs="0"  maxOccurs="1"/><!--<< @brief Amount of mass of this substance that is in the blood. -->
          <xs:element name="MassInTissue" type="ScalarMassData" minOccurs="0"  maxOccurs="1"/><!--<< @brief Amount of mass of this substance that is in the tissue. -->
          <xs:element name="PlasmaConcentration" type="ScalarMassPerVolumeData" minOccurs="0"  maxOccurs="1"/><!--<< @brief Calculated concentration of a substance in the plasma. -->
          <xs:element name="RemainingSystemicMassCleared" type="ScalarMassData" minOccurs="0"  maxOccurs="1"/><!--<< @brief -->          
          <!-- Gas -->
          <xs:element name="AlveolarTransfer" type="ScalarVolumePerTimeData" minOccurs="0" maxOccurs="1"/><!--<< @brief Calculated rate of transfer that occurs during gas exchange. -->
          <xs:element name="DiffusingCapacity" type="ScalarVolumePerTimePerPressureData" minOccurs="0" maxOccurs="1"/><!--<< @brief Calculated value representing the ability of a gas to cross the respiratory membrane. -->
          <xs:element name="EndTidalConcentration" type="ScalarFractionData" minOccurs="0"  maxOccurs="1"/><!--<< @brief The fraction of gas in the trachea that consists of the substance at the end of each respiratory cycle. -->
          <xs:element name="RelativeDiffusionCoefficient" type="ScalarData" minOccurs="0"  maxOccurs="1"/><!--<< @brief Represents the ability of the substance to diffuse across a membrane. A proportionality of the solubility and the square root of the molecular weight as defined relative to oxygen.-->
          <xs:element name="SolubilityCoefficient" type="ScalarInversePressureData" minOccurs="0"  maxOccurs="1"/><!--<< @brief Represents the ability of a substance to dissolve in a solution. -->          
          <!-- More complex Objects -->
          <xs:element name="Clearance" type="SubstanceClearanceData" minOccurs="0"  maxOccurs="1"/><!--<< @brief @copybrief SubstanceClearanceData --> 
          <xs:element name="Pharmacokinetics" type="SubstancePharmacokineticsData" minOccurs="0"  maxOccurs="1"/><!--<< @brief @copybrief SubstancePharmacokineticsData -->  
          <xs:element name="Pharmacodynamics" type="SubstancePharmacodynamicsData" minOccurs="0"  maxOccurs="1"/><!--<< @brief @copybrief SubstancePharmacodynamicsData -->  
          <xs:element name="CompartmentEffect" type="SubstanceCompartmentEffectData" minOccurs="0"  maxOccurs="unbounded"/><!--<< @brief @copybrief SubstanceCompartmentEffectData -->    
          
		</xs:sequence>
        <xs:attribute name="State" type="enumSubstanceState" use="optional"/><!--<< @brief @copybrief enumSubstanceState -->
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Substance" type="SubstanceData"/>
  
  
  
  <!-- @brief Data assciated with how a specific compartments are impacted by the substance -->
  <xs:complexType name="SubstanceCompartmentEffectData" abstract="true">
    <xs:complexContent>
      <xs:extension base="ObjectData">
        <xs:sequence> 
          <xs:element name="MassCleared" type="ScalarMassData" minOccurs="0"  maxOccurs="1"/><!--<< @brief The calculated mass of a substance cleared in the specified compartment.--><!--UNC-->  
          <xs:element name="MassExcreted" type="ScalarMassData" minOccurs="0"  maxOccurs="1"/><!--<< @brief --><!--UNC-->   		  
          <xs:element name="PartitionCoefficient" type="ScalarData" minOccurs="0"  maxOccurs="1"/><!--<< @brief Represents the ability of a substance to diffuse across a membrane. Calculated using the physiochemical properties of a substance.--><!--UNC-->
          <xs:element name="PermeabilitySurfaceAreaProduct" type="ScalarData" minOccurs="0"  maxOccurs="1"/><!--<< @brief Represents the ability of a substance to diffuse across a membrane based on permeability. --><!--UNC-->
          <xs:element name="ClearanceModifier" type="ScalarData" minOccurs="0"  maxOccurs="1"/><!--<< @brief Calculated parameter representing organ damage that would limit clearance of a substance. --><!--Clearance function modification per substance-->
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  
  <!-- @brief A compound made up of several substances. -->
  <xs:complexType name="SubstanceCompoundData">
    <xs:complexContent>
      <xs:extension base="ObjectData">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" minOccurs="1"  maxOccurs="1"/><!--<< @brief The unique name of the compound. -->
          <xs:element name="Component" type="SubstanceCompoundComponentData" minOccurs="0"  maxOccurs="unbounded"/> <!--<< @brief @copybrief SubstanceCompoundComponentData -->
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubstanceCompound" type="SubstanceCompoundData"/>
  
  <!-- @brief A set of substances that make up the compound-->
  <xs:complexType name="SubstanceCompoundComponentData">
    <xs:complexContent>
      <xs:extension base="ObjectData">
        <xs:sequence>
          <xs:element name="SubstanceName" type="xs:string" minOccurs="1"  maxOccurs="1"/> <!--<< @brief The unique name of the substance. -->               
          <xs:element name="Concentration" type="ScalarMassPerVolumeData" minOccurs="0"  maxOccurs="1"/><!--<< @brief Concentration of the individual substance within the compound. -->
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!--<< @brief -->
  <xs:complexType name="SubstanceFractionData">
    <xs:sequence>
      <xs:element name="FractionAmount" type="ScalarFractionData" minOccurs="1"  maxOccurs="1"/><!--<< @brief -->
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" use="required"/><!--<< @brief -->
  </xs:complexType>
</xs:schema>

